@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

*{
    background-color: hsl(47, 88%, 63%);
}

body {
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;  
  align-items: center;     
}


.mainCard{
    align-self: center;
    padding: 20px;
    width: 340px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px rgba(0,0,0,1);

}

.poster{
    background-color: white;
}

.poster img{
    border-radius: 15px;
}

.learning{
    margin-top: 20px;
    padding: 6px 14px;
    background-color: hsl(47, 88%, 63%);
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    
}

h3{
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: hsl(0, 0%, 7%);
    background-color: white;
}

h1{
    font-family: 'Figtree', sans-serif;
    font-size: 26px;
    font-weight: 800;
    background-color: white;
}

p{
    font-family: 'Figtree', sans-serif;
    font-size: 17px;
    color: hsl(0, 0%, 42%);
    background-color: white;
}

.author{
    margin-top: 22px;
    display: flex;
    align-items: center;    
    background-color: white;
}

.author img{
    width: 35px;
    background-color: white;
}

.name{
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    font-size: 15px;
    background-color: white;
    margin-left: 15px;
}